
body {
    font-size: 100%;
}

.main-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 10%;
    margin-top: 0px;
}

.main-content{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.hero {
    background-image: url(gavel-hero.png);
    background-size: cover;
    background-position: 0px -120px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero-wrapper {
    width: 70%;
}

.search{
    padding-bottom: 10%;
}

.form-control {
    max-width: 200px;
}

.header {
}

.logo {
    float: left;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-size: 26px;
    font-weight: 400;
}

.logo-type {

}

.logo-type a {
    color: black;
}

.logo-type a:hover {
    text-decoration: none;
    color: aqua;
}

.box {
    border: 1px solid #e8e8e8;
}

.nav-links{
    float: right;
    margin-left: 10px;
    padding-top: 52px;
    padding-right:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.nav-links a {
    color: black;
}

.nav-links a:hover {
    text-decoration: none;
    color: aqua;
}

.secondary-title {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 20px;

}

.div-line {
    width: 90px;
    height: 1px;
    background-color: #003559;
    margin: 0 auto;
}
.secondary-section {
    padding: 30px;
    margin: 30px 0px;
}

.widget-section {
    padding: 30px;
    margin: 30px 0px;
    background-color: white;
    margin-bottom: 20%;
}

.secondary-content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: #6d747c;
    line-height: 1.5;
}

.button {
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.button:hover {
    background-color: #003559;

}

.button a {
    color: white;
}

.button a:hover {
    text-decoration: none;
    color: white;
}

.button a:visited {
    text-decoration: none;
    color: white;
}

 .button a:active {
    text-decoration: none;
    color: white;
}



.form {
    width: 100%;
    margin-top: 10%;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.srch-box {
    width: 70%;
    margin:50px auto;
    margin-bottom: 150px;
}

.srch-box-2 {
    width: 100%;
    margin: 10px auto;
}

.widget {
    padding-top:15px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 5%;
}

.search {
    padding:8px 15px;
    border:1px solid #dbdbdb;
}

.srch-btn{
    position:relative;
    padding:7px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.srch-btn:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.search-section {
    padding: 10px;
}

.footer{
    padding-top:30px;
    padding-bottom: 30px;
    height: auto;
}

.full {
    background-color: #003559;

}

.footer-text {
    color:#808080;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 30px;
}

/*.container {
    width:1000px;
    margin: 0 auto;
}*/

.map {
    width: 300px;
    height: 150px;
}

.map-section {
    padding: 20px;
}

.content-box{
    padding: 30px;
    background-color: white;
    position: absolute;
    width: 100%;
    min-height: 400px;
}

.secondary-nav {
    padding: 20px;
    font-size: 1.2em;
    display: block;
}

.secondary-nav:hover {
    background-color: black;
    color: white;
}

#section-1:target, #section-2:target, #section-3:target, #section-4:target, #section-5:target {
    z-index: 1;
}

#section-1 a, #section-2 a, #section-3 a, #section-4 a, #section-5 a{
    background-color: black;
    display: block;
    text-decoration: none;
}

li:target a {
    background-color: black;
}

.section-wrapper {
    position: relative;
    min-height: 400px;
}

.selected {
    color: aqua !important;
}

.aside {
    margin-bottom: 90%;
}

.header-image {
    background-image: url(gavel-hero.png);
    background-size: cover;
    margin-bottom: 2%;
}