
.main-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 10%;
    margin-top: 0px;
}

.main-content{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.hero {
    background-image: url(justice-gavel-and-book.png);
    background-size: cover;
    background-position: 0px -120px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero-wrapper {
    width: 70%;
}

.search{
    padding-bottom: 10%;
}

.form-control {
    max-width: 200px;
}

.header {
}

.logo {
    float: left;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-size: 26px;
    font-weight: 400;
}

.box {
    border: 1px solid #e8e8e8;
}

.nav-links{
    float: right;
    margin-left: 10px;
    padding-top: 52px;
    padding-right:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.secondary-title {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 20px;

}

.div-line {
    width: 90px;
    height: 1px;
    background-color: green;
    margin: 0 auto;
}
.secondary-section {
    padding: 30px;
    margin: 30px 0px;
}

.widget-section {
    padding: 30px;
    margin: 30px 0px;
    background-color: white;
    margin-bottom: 20%;
}

.secondary-content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: #6d747c;
    line-height: 1.5;
}

.button {
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}


.form {
    width: 100%;
    margin-top: 10%;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.srch-box {
    width: 70%;
    margin:50px auto;
    margin-bottom: 150px
}

.widget {
    padding-top:15px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 5%;
}

.search {
    padding:8px 15px;
    border:0px solid #dbdbdb;
}

.srch-btn{
    position:relative;
    padding:7px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.srch-btn:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.footer{
    padding-top:30px;
    padding-bottom: 30px;
    height: auto;
}

.full {
    background-color: #333;
}

.footer-text {
    color:#808080;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 30px;
}

/*.container {
    width:1000px;
    margin: 0 auto;
}*/

.map {
    width: 300px;
    height: 150px;
}

.map-section {
    padding: 50px;
}

.content-box{
    padding: 10px;
}